<div class="main-content">
	<div class="container" style="height: 500px !important;">
		<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb"></ol>
				<div class="page-header" style="margin-bottom: 2px; padding-bottom: 2px; margin-top:2px">
					<onde-estou pagina='Consultas' icone="fa fa-user-md"></onde-estou>
					<titulo-sistema subtitulo="{{subtitulo}}"></titulo-sistema>
				</div>
			</div>
		</div>
		<div class="tabela">
			<table id="tabela" class="tabela display" cellspacing="0">
				<thead>
					<tr>
						<th>ID</th>
						<th>USUARIO_ID</th>
						<th>Nome</th>
						<th>Data</th>
						<th>Status da Consulta</th>
					</tr>
				</thead>
				<tbody class='tabela'>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-12">
        <button class="btn btn-success botoes" ng-click="abrirModalEditar()" disabled><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Confirmar Consulta</button>
				<button class="btn btn-primary" ng-click="abrirModalCadastrar()"><i class="fa fa-plus"></i> Cadastrar</button>
				<button class="btn btn-warning botoes" ng-click="abrirModalEditar()" disabled><i class="fa fa-pencil"></i> Editar</button>
				<button class="btn btn-bricky  botoes" ng-click="excluir()" disabled><i class="fa fa-trash-o"></i> Apagar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i>Consulta</h4>
			</div>
			<div class="modal-body">
				<div class="msg_erro rapida" id="cadastro_erro">
					<div class="alert alert-warning">
						<i class="fa fa-exclamation-triangle"></i>
						<strong>Atenção!</strong> Preencha todos os campos!
					</div>
				</div>
				<form ng-submit="salvar()">
					<div class="form-group modal-margin-padding">
						<label class="col-sm-2 control-label" for="nome">Nome</label>
						<div class="col-sm-9">
							<select 
								name="nome" 
								id="nome" 
								class="form-control" 
								ng-model="consulta.usuario" 
								required 
								style="padding-left: 1px; color: #1D1D1D;"
								ng-options="usuario.id as usuario.nome for usuario in usuarios | orderBy:'nome' track by usuario.id">
								<option value="">Escolha uma opção</option>
							</select>
						</div>
					</div>
					<br>
					<div class="form-group modal-margin-padding">
						<label class="col-sm-2 control-label" for="data">Data</label>
						<div class="col-sm-9">
							<input type="text" 
								name="data" 
								placeholder="Data" 
								ng-model="consulta.data" 
								class="form-control"
								required 
								locale="pt-BR" 
								format="DD/MM/YYYY"
								moment-picker="form.data" 
								autocomplete="off">
						</div>
					</div>
					<br>
					<div class="form-group modal-margin-padding">
						<label class="col-sm-2 control-label" for="status">Status</label>
						<div class="col-sm-9">
							<select name="status" id="status" class="form-control" ng-model="consulta.status" required style="padding-left: 1px; color: #1D1D1D;">
								<option value="">Escolha uma opção</option>
								<option value="agendada">Agendada</option>
								<option value="confirmada">Confirmada</option>
								<option value="indeferida">Indeferida</option>
								<option value="encerrada">Encerrada</option>
							</select>
						</div>
					</div>
					<br>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Salvar<i class="fa fa-arrow-circle-right"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>