<!DOCTYPE html>
<html lang="pt">

<head>
	<title>Meu PSF</title>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/theme_light.css" type="text/css" id="skin_color">
	<link rel="stylesheet" href="css/jquery.dataTables.css">

	<!-- <script src="js/angular.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" type="text/css" />
	<link rel="shortcut icon" href="img/favicon.ico" />
	<link rel="stylesheet" href="css/sweetalert2.min.css" type="text/css" />
	<link rel="stylesheet" href="css/sin.css" type="text/css" />
	<link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">

</head>

<body class="navigation-small" id="bodi" ng-app="sig_app" ng-controller="meu_controller">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">

			<header-left></header-left>

			<div class="navbar-tools">
				<!-- MENU direita-->
				<header-menu usuario="{{usuario()}}" psf="{{psf()}}"></header-menu>
			</div>
		</div>
	</div>
	<div id="menu_lateral" class="main-navigation navbar-collapse collapse">
		<div class="navigation-toggler navigation-small">
			<i class="clip-chevron-left"></i>
			<i class="clip-chevron-right"></i>
		</div>

		<ul class="main-navigation-menu">
			<!--Menu-->
			<li ng-repeat="menu in menus">
				<!-- Se nao tiver submenu -->
				<a ng-href="{{menu.link}}" onclick="ocultarMenu()" ng-hide="menu.submenu"><i class="{{menu.icone}}"></i>
					<span class="title"> {{menu.nome}} </span><i class="icon-arrow" ng-show="menu.submenu"></i>
				</a>
				<!-- Se tiver submenu -->
				<a href="" ng-show="menu.submenu" style="cursor:default"><i class="{{menu.icone}}"></i>
					<span class="title"> {{menu.nome}} </span><i class="icon-arrow" ng-show="menu.submenu"></i>
				</a>
				<ul class="sub-menu">
					<li ng-show="menu.submenu" ng-repeat="sub in menu.submenu">
						<a href="{{sub.link}}">
							<span class="title"> {{sub.titulo }} </span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div ng-view></div>
	<sarsha-spinner name="spinner"></sarsha-spinner>

	<altera-senha></altera-senha>
	<!-- end: PAGE -->
	</div>

	<footer-sesa></footer-sesa>

	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
	<script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
	<script src="assets/plugins/jQuery-lib/2.0.3/jquery.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
	<script src="assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
	<script src="assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
	<script src="assets/js/main.js?v=1615677974640"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.min.js"></script>
	<script src="js/Chart.min.js?v=1615677974640"></script>
	<script src="js/ngMask.js?v=1615677974640"></script>
	<script src="js/jquery.dataTables.min.js?v=1615677974640"></script>
	<script src="js/env.js?v=1615677974640"></script>
	<script src="js/controller.js?v=1615677974640"></script>
	<script src="js/services/HttpInterceptor.js?v=1615677974640"></script>
	<script src="js/controller/ConsultasCtrl.js?v=1615677974640"></script>
	<script src="js/controller/MedicamentosCtrl.js?v=1615677974640"></script>
	<script src="js/controller/CalendarioCtrl.js?v=1615677974640"></script>
	<script src="js/controller/UsuariosCtrl.js?v=1615677974640"></script>
	<script src="js/funcoes.js?v=1615677974640"></script>
	<script src="js/senha.js?v=1615677974640"></script>
	<script src="js/sweetalert2.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.2/angular-animate.min.js"></script>
	<script src="js/loading-spinner.min.js"></script> <!-- https://github.com/msarsha/angular-loading-spinner -->

  <script>
		jQuery(document).ready(function () {
			Main.init();
		});
	</script>

</body>

</html>