<div class="main-content">
	<div class="container" style="height: 500px !important;">
		<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb"></ol>
				<div class="page-header" style="margin-bottom: 2px; padding-bottom: 2px; margin-top:2px">
					<onde-estou pagina='Calendário' icone="fa fa-calendar"></onde-estou>
					<titulo-sistema subtitulo="{{'NE'}}"></titulo-sistema>
				</div>
			</div>
		</div>
		<h5 style="margin: 0px; line-height: 20px;">Gerencie o calendário do posto</h5>
		<div class="tabela">
			<table id="tabela" class="tabela display" cellspacing="0">
				<thead>
					<tr>
						<th>
							<center>Nome</center>
						</th>
						<th>
							<center>Data</center>
						</th>
						<th>
							<center>Status da Consulta</center>
						</th>
						<th>
							<center>Urgência</center>
						</th>
					</tr>
				</thead>
				<tbody class='tabela_notas'>
				</tbody>
			</table>
			<!--div id="loading">
							<div id="loading_centraliza">
								<img src="img/ajax_loading.gif">
							</div>
						</div-->
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-primary" data-toggle="modal" data-target="#modal_cadastrar"><i class="fa fa-plus"></i>
					Cadastrar</button>
				<button class="btn btn-warning" id="btn_editar" ng-click="monta_edit()" data-toggle="modal"
					data-target="#modal_editar" disabled><i class="fa fa-pencil"></i> Editar</button>
				<button class="btn btn-bricky" id="btn_excluir" ng-click="excluir_gestor()" disabled><i
						class="fa fa-trash-o"></i> Apagar</button>
			</div>
		</div>
	</div>
</div>