<div class="main-content">
	<div class="container" style="height: 500px !important;">
		<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb"></ol>
				<div class="page-header" style="margin-bottom: 2px; padding-bottom: 2px; margin-top:2px">
					<onde-estou pagina='Consultas' icone="fa fa-user-md"></onde-estou>
					<titulo-sistema subtitulo="{{'NE'}}"></titulo-sistema>
				</div>
			</div>
		</div>
		<h5 style="margin: 0px; line-height: 20px;">Gerencie todas as consultas</h5>
		{{titulo}}
		<div class="tabela">
			<table id="tabela" class="tabela display" cellspacing="0">
				<thead>
					<tr>
						<th>
							<center>Nome</center>
						</th>
						<th>
							<center>Data</center>
						</th>
						<th>
							<center>Status da Consulta</center>
						</th>
						<th>
							<center>Urgência</center>
						</th>
					</tr>
				</thead>
				<tbody class='tabela_notas'>
				</tbody>
			</table>
			<!--div id="loading">
							<div id="loading_centraliza">
								<img src="img/ajax_loading.gif">
							</div>
						</div-->
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-primary" data-toggle="modal" data-target="#modal_cadastrar"><i class="fa fa-plus"></i>
					Cadastrar</button>
				<button class="btn btn-warning" id="btn_editar" ng-click="monta_edit()" data-toggle="modal"
					data-target="#modal_editar" disabled><i class="fa fa-pencil"></i> Editar</button>
				<button class="btn btn-bricky" id="btn_excluir" ng-click="excluir_gestor()" disabled><i
						class="fa fa-trash-o"></i> Apagar</button>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal_cadastrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		ng-controller="gestores_controller">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i> Cadastrar Novo Gestor</h4>
				</div>
				<div class="modal-body">
					<div class="msg_erro rapida" id="cadastro_erro">
						<div class="alert alert-warning">
							<i class="fa fa-exclamation-triangle"></i>
							<strong>Atenção!</strong> Preencha todos os campos!
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-1">Nome</label>
						<div class="col-sm-9">
							<input type="text" placeholder="Nome" ng-model="nome" id="nome" class="form-control">
						</div>
					</div><br><br>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-1">Endereço</label>
						<div class="col-sm-9">
							<input type="text" placeholder="Endereço" ng-model="endereco" class="form-control">
						</div>
					</div><br><br>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-1">Telefone</label>
						<div class="col-sm-9">
							<input type="number" placeholder="(85)9999999" ng-model="telefone" class="form-control" required>
						</div>
					</div><br><br>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-1">Login</label>
						<div class="col-sm-9">
							<input type="text" placeholder="Nome de usuário" ng-model="login" class="form-control">
						</div>
					</div><br><br>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-field-1">Senha</label>
						<div class="col-sm-9">
							<input type="password" placeholder="Senha" ng-model="senha" class="form-control">
						</div>
					</div><br><br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" ng-click="cadastra_gestor()">Cadastrar <i
							class="fa fa-arrow-circle-right"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>